<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment> 
            <AhlyOnline>
                <active>0</active>
                <title>Visa / Mastercard (NBE)</title>
                <allowspecific>0</allowspecific>
                <model>Ahly\Payments\Model\Online</model>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize>0</can_authorize>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
            </AhlyOnline>
            
        </payment>
    </default>
</config>